$gray:#3C3C3C;

$green:#20B73F;

$lightGray: #888988;

$wildSand: #F5F5F5;

$forestGreen: #1D9529;

$white: #ffffff;

$doveGray: #726f6f;

$emperor:#555454;

$stack: #919291;

$check-order:rgba(255,255,255,.95);

$tundora:#434343;

$dustyGray:#757171;

$scorpion: #5b5757;